<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bootstrap Dashboard with Pie Chart</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <style>
        body {
            min-height: 100vh;
            display: flex;
            flex-direction: column;
        }
        .wrapper {
            display: flex;
            flex: 1;
        }
        .sidebar {
            min-width: 250px;
            background-color: #343a40;
            color: white;
        }
        .sidebar .nav-link {
            color: white;
        }
        .main-content {
            flex: 1;
            padding: 20px;
        }
        .navbar {
            background-color: #343a40;
            color: white;
        }
        .card {
            margin-bottom: 20px;
        }
        /* Chart Styling */
        #pieChart {
            max-width: 500px;
            margin: 0 auto;
        }
    </style>
</head>
<body>

    <!-- Top Navbar -->
    <nav class="navbar navbar-dark">
        <a class="navbar-brand" href="#">{{project.projectName}}</a>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="userMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                User
            </button>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userMenu">
                <a class="dropdown-item" href="#">Profile</a>
                <a class="dropdown-item" href="#">Settings</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Logout</a>
            </div>
        </div>
    </nav>

    <div class="wrapper">
        

        <!-- Main Content -->
        <div class="main-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4">
                            <div class="card text-white bg-primary", id="start_timer">
                                <div class="card-body">
                                    <h5 class="card-title">Start</h5>
                                </div>
                            </div>
                       
                    </div>

                    <div class="col-md-4">
                        <div class="card text-white bg-danger", id = "end_timer">
                            <div class="card-body">
                                <h5 class="card-title">Stop</h5>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Timer Section -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                           
                            <div class="card-body text-center p-4">
                                <h5 class="card-title mb-4"> Timestamp</h5> <!-- A title for the countdown -->
                                <div class="countdown d-flex justify-content-center align-items-center" id="countdown">
                                    <div class="countdown-item mx-2 text-center">
                                        <span id="days" class="display-4">00</span>
                                        <p class="small text-muted">Days</p>
                                    </div>
                                    <div class="countdown-item mx-2 text-center">
                                        <span id="hours" class="display-4">00</span>
                                        <p class="small text-muted">Hours</p>
                                    </div>
                                    <div class="countdown-item mx-2 text-center">
                                        <span id="minutes" class="display-4">00</span>
                                        <p class="small text-muted">Minutes</p>
                                    </div>
                                    <div class="countdown-item mx-2 text-center">
                                        <span id="seconds" class="display-4">00</span>
                                        <p class="small text-muted">Seconds</p>
                                    </div>
                                    
                                </div>
                                <div class="word-input mb-4 d-flex justify-content-center">
                                    <input type="text" id="wordInput" class="form-control w-50" placeholder="Enter a Tag">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Line Chart -->
                <div class="row">
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-header">
                                Time Distribution 
                            </div>
                            <div class="card-body">
                                <canvas id="lineChart"></canvas>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <!-- Use an anchor tag to trigger the modal instead of linking to an external URL -->
                                <a href="#" class="stretched-link text-decoration-none" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                    Create New Project
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- Create Project Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Create New Project</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form id="createProjectForm">
                                    <!-- Project Name Input -->
                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control" id="projectName" placeholder="Enter project name">
                                        <button class="btn btn-outline-secondary" type="button" id="addProjectButton">Add Project</button>
                                    </div>
                
                                    <!-- Invite with UserID Input -->
                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control" id="userID" placeholder="Invite with UserID">
                                        <button class="btn btn-outline-secondary" type="button" id="addUserButton">Add Access</button>
                                    </div>
                                </form>
                
                                <!-- Users Table -->
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>Username</th>
                                            <th>UserID</th>
                                            <th>Remove</th>
                                        </tr>
                                    </thead>
                                    <tbody id="usersTableBody">
                                        <!-- Rows will be dynamically added here -->
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            

                <!-- Recent Timestamp -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                Recent Activity
                            </div>
                            <div class="card-body">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>Tag</th>
                                            <th>Start</th>
                                            <th>End</th>
                                            <th>Total</th>               
                                        </tr>
                                    </thead>
                                    <tbody id="timestampTableBody">
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                

            </div>
        </div>
    </div>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

   
    <script>
        //hide start button if timer is running 
        const projectID = {{ project.id }}; 
        let runningtimer = {{running}};
        let initialtimediff  = {{milliseconds}};
        let interval;
        let timediff = initialtimediff 
       
        
        if (runningtimer === 1){
            const startButton = document.getElementById('start_timer');
            startButton.style.visibility = 'hidden';
            startButton.style.pointerEvents = 'none';
            startTimer();
            console.log(initialtimediff/1000);
        };
        //function to update the timer 
        function updateTime(){
            const days = Math.floor(timediff / (1000 * 60 * 60 * 24));
            const hours = Math.floor((timediff % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            const minutes = Math.floor((timediff % (1000 * 60 * 60)) / (1000 * 60));
            const seconds = Math.floor((timediff % (1000 * 60)) / 1000);

            document.getElementById('days').textContent = days.toString().padStart(2, '0');
            document.getElementById('hours').textContent = hours.toString().padStart(2, '0');
            document.getElementById('minutes').textContent = minutes.toString().padStart(2, '0');
            document.getElementById('seconds').textContent = seconds.toString().padStart(2, '0');

        }
        function startTimer(){
            const starttime = Date.now() - timediff ;
            interval = setInterval(
                function(){
                    timediff = Date.now()- starttime;
                    updateTime();
                }, 1000
            );
            runningtimer = 1;
        }
        function stopTimer() {
            clearInterval(interval);
            runningtimer = 0;
        }
        // function to fetch the timestamps
        

        function fetchTimestamps(){
            fetch(`/load/${projectID}`, {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        },

    })
                .then(response=> response.json())
                .then(data => {
                    console.log('asdasd')
                    const tableBody = document.getElementById('timestampTableBody')
                    tableBody.innerHTML = '';
                    const tags = [];
                    let totaltimeChart = 0;
                    data.timestamps.forEach(timestamp => {
                        //this stuff only works with milliseconds removed?? HUHHH
                        const startTime = new Date(timestamp.start.split('.')[0]).toLocaleString();
                        const endTime = new Date(timestamp.end.split('.')[0]).toLocaleString();
                        const totalTimeMs = new Date(timestamp.end.split('.')[0]) - new Date(timestamp.start.split('.')[0]);
                        const totalTime = new Date(totalTimeMs).toISOString().substr(11, 8);  
                        totaltimeChart = totaltimeChart + totalTimeMs;
                        if (tags.includes(timestamp.tag)){
                            console.log('tag already included');
                            
                        }
                        else{
                            tags.push(timestamp.tag);
                        }
                        const row = document.createElement('tr');
                        row.innerHTML = `
                                <td>${timestamp.tag}</td>
                                <td>${startTime}</td>
                                <td>${endTime}</td>
                                <td>${totalTime}</td>
                            `;
                        tableBody.appendChild(row);
                        console.log(totaltimeChart);
                        console.log(tags)
                    })
                    
                    //get data for linechart
                    const ctx = document.getElementById('lineChart').getContext('2d');
                    let times = [];
                    tags.forEach(tag =>{
                        let timePerTag = 0;
                        data.timestamps.forEach(timestamp =>{              
                            if (tag == timestamp.tag){
                                const totalTimeMs = new Date(timestamp.end.split('.')[0]) - new Date(timestamp.start.split('.')[0]);
                                timePerTag = timePerTag + totalTimeMs;

                            }

                        })
                        times.push(timePerTag/60000)
                    })
                    console.log(times)
                    //chart
                    const lineChart = new Chart(ctx, {
                        type: 'line', 
                        data: {
                            labels: tags, 
                            datasets:[{
                                label: 'minutes', 
                                data: times, 
                                borderColor: 'rgba(75, 192, 192, 1)',
                                backgroundColor: 'rgba(75, 192, 192, 0.2)',
                                fill: true
                            }]
                        }
                    })


               
                } 

                )
        }
        
        document.addEventListener('DOMContentLoaded', fetchTimestamps);

        // start button DIE BUTTONS FUNKTIONIEREN ENDLICH HIER NIX ANFASSEN NIEMALS 
       document.getElementById('start_timer').addEventListener('click', function(){
       const projectID = {{ project.id }}; 
       const button = this;
       const stopbutton = document.getElementById('end_timer');

       const tagContentBox = document.getElementById('wordInput');
       const tagContent = tagContentBox.value;
       stopbutton.style.visibility = '';
       stopbutton.style.pointerEvents = '';
       button.style.visibility = 'hidden';
       button.style.pointerEvents = 'none';
        fetch(`/start`, {  method:'POST',
        headers: {
        'Content-Type': 'application/json',
        
    }, 
    body: JSON.stringify({
        projectID: projectID,
        tagContent: tagContent
    })
})
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                alert('Timer started successfully!');
                // maybe auf 0 resetten?
                timediff = 0;
                startTimer();                

            } 
            else {alert('Failed to start timer.'); 
                button.style.backgroundColor = '';
                button.style.pointerEvents = '';
            }
        })
        .catch(error => {
            console.error('Error:', error);
            button.style.backgroundColor = '';
            button.style.pointerEvents = '';

        });
        });
        
        //end button 
        document.getElementById('end_timer').addEventListener('click', function(){
       const projectID = {{ project.id }};
       const button = this;
       const startbutton = document.getElementById('start_timer');
       button.style.visibility = 'hidden';
       button.style.pointerEvents = 'none'; 
       startbutton.style.visibility = '';
       startbutton.style.pointerEvents = '';
        fetch(`/stop/${projectID}`, {  method:'POST',
        headers: {
        'Content-Type': 'application/json',}})
        .then(response => response.json())
        .then(data => {if (data.success) {
            stopTimer();
            fetchTimestamps();
            alert('Timer stopped successfully!');


        } 
        else {alert('Failed to stop timer.'); 
        button.style.visibility = '';
        button.style.pointerEvents = '';
        }})
        .catch(error => {console.error('Error:', error)
        button.style.visibility = '';
        button.style.pointerEvents = '';
        });
        });


    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>



